spring:
  application:
    name: iam-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/iam_db
    username: admin
    password: admin_password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

# CONFIGURAÇÃO CUSTOMIZADA (separada do 'spring' acima)
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method # Ordena por GET, POST, etc